@{
    ViewBag.Title = "About author:";
}
<h3>@ViewBag.Title</h3>

<body>
    <h4>
        23 year old, white male, approximately 5.7 ft tall. Big enthusiast of chess, programming, logic, tv series. 
    </h4>
    <br />
    <h4>Check out my other projects, available at <a href="https://github.com/kuite">github</a>.</h4>
    <h4>Contact: piomost@gmail.com</h4>
</body>
